$color-primary : #ea2135;
$color-primary-light: #ea2135;
$color-primary-dark1: #ca091c;
$color-primary-dark: #6e0510;

$color-circles: #ffdce0;


$grid-width: 80%;
$gutter-v: 8rem;
$gutter-h: 8rem;

$banner-header-text-size: 4.6rem;
$banner-sub-text-size: 1.6rem;

$form-header-text-size: 4rem;
$form-sub-text-size: 3rem;
