

.u-center-text {
    text-align: center;
}
.u-margin-bottom-large {
    margin-bottom: 8rem;
}

.u-margin-bottom-semi {
    margin-bottom: 5rem;
}

.u-margin-bottom-medium {
    margin-bottom: 3rem;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem;
}

.u-margin-bottom-banner-header {
    margin-bottom: 2rem;
}


.u-margin-top-small {
    margin-top: 3rem;
}
